<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>PeopleCooks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="recipes">
    <meta name="author" content="Daniel Pyrathon">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/static/css/peoplecooks.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">PeopleCooks</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div id="container" class="container-fluid">
      <div class="row-fluid">
          <div class="span3">
            <ul id="recipeList" class="nav nav-list well">
              <li class="nav-header">
                Recipes
              </li>
            </ul>
            <ul id="ingredientList" class="nav nav-list well">
              <li class="nav-header">
                Ingredients
              </li>
            </ul>
          </div>
          <div id="contentView" class="span7">
          </div>
      </div>
    </div>

    <!--<script src="/static/js/bootstrap.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js"></script>
    <script src="/static/js/backbone-min.js"></script>
    <script src="/static/js/peoplecooks.js"></script>

    <!--TEMPLATES-->
    <script id="mainView" type="text/template">
        <div class="hero-unit">
            <h1>Hello, PeopleCooks</h1>
        </div>
    </script>

    <script id="recipeView" type="text/template">
        <a href="#recipe/<%= slug %>"><%= title %></a>
    </script>

    <script id="ingredientView" type="text/template">
        <a href="#ingredient/<%= slug %>"><%= title %></a>
    </script>

    <script id="recipeDetailView" type="text/template">
        <h1><%= title %></h1>
        <div class="pc_description pc_space">
            <h3>Description</h3>
            <%= description %>
        </div>
        <div id="pc_procedure" class="pc_space">
            <h3>Procedure</h3>
            <table id="pc_steps" class="table">
            <thead>
                <tr>
                <th>#</th>
                <th>Steps</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            </table>
        </div>
        <div id="pc_ingredients" class="pc_space">
            <h3>Ingredients</h3>
            <table class="table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                <th>Ingredient</th>
                <th>Amount</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            </table>
        </div>
    </script>

    <script id="recipeStepView" type="text/template">
        <tr>
            <td><%= step_num %></td>
            <td><%= description %></td>
        </tr>
    </script>

    <script id="recipeIngredientView" type="text/template">
        <tr>
            <td><a href="#ingredient/<%= slug %>"><%= name %></a></td>
            <td><%= amount %></td>
        </tr>
    </script>
  </body>
</html>
